<!DOCTYPE html>
{#
  Pro data atribut data-theme nastav mód, který se ukládá do cookies pod klíčem theme (a měl by být jen light/dark)
#}
<html lang="cs-CZ" class="Preload" id="root" data-theme="light">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{{ pageTitle }}</title>

    <!-- Self-hosted fonts -->
    {% include "./partials/_fonts.njk" %}

    <!-- CSS - vendors -->
    <link rel="stylesheet" href="./css/flag-icons.min.css"/>
    <link rel="stylesheet" href="./css/flatpickr.min.css"/>
    <link rel="stylesheet" href="./css/cookie-consent-config.css">
    <link rel="stylesheet" href="./css/cookie-consent.min.css">
      <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/lightgallery/1.3.9/css/lightgallery.css"
    />
      <link
      rel="preload"
      href="https://code.jquery.com/jquery-3.6.0.min.js"
      as="script"
      crossorigin
    />
    <!-- CSS - custom -->
    {#
		      Nalinkuj si v Latte jen main.min.css z dist/css/ a v případě změn v souboru si generuj za název do parametru nějaký hash / timestamp
		      <link rel="stylesheet" href="./css/main.min.css"/>
		      Níže smaž, slouží jen pro FE dev
		    #}
    <!-- build:css -->
    <link rel="stylesheet" href="./css/main.css"/>
    <!-- endbuild -->

    {# JS - globals #}
     <script
      defer
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    
    <script>
      const isLocalhost = window
        .location
        .hostname
        .includes("localhost");
    </script>


    <!-- JS - async - vendors -->
    <script src="./js/vendors/minilazyload.min.js" defer="defer"></script>
    <script src="./js/vendors/flatpickr.min.js" defer="defer"></script>
    <script src="./js/vendors/flatpickr.min.js" defer="defer"></script>
    <script src="./js/vendors/flatpickr-cs.js" defer="defer"></script>
    <script src="./js/vendors/cookie-consent.min.js" defer="defer"></script>
    <script src="./js/vendors/lightgallery.min.js" defer="defer"></script>
    {# JS - async - others #}
  
    <script src="./js/others/lightgallery.js" defer="defer"></script>
    <script src="./js/others/cookie-consent-config.js" defer="defer"></script>
    <script src="./js/others/cookie-consent-social-media.js" defer="defer" type="text/plain" data-cookiecategory="social"></script>

    <!-- JS - async - custom -->
    {#
		      Nalinkuj si v Latte jen main.min.js z dist/js/ a v případě změn v souboru si generuj za název do parametru nějaký hash / timestamp
		      <script src="./js/main.min.js" defer></script>
		      Níže smaž, slouží jen pro FE dev
		    #}
    <!-- build:js -->

    
    <script src="./js/components/accordion.js" defer="defer"></script>
    <script src="./js/components/nav.js" defer="defer"></script>
    <script src="./js/components/searchSwitcher.js" defer="defer"></script>
    <script src="./js/components/themeSwitcher.js" defer="defer"></script>
    <script src="./js/components/tabs.js" defer="defer"></script>
    <script src="./js/main.js" defer="defer"></script>
    <!-- endbuild -->

    {# TODO - Meta #}
    <meta name="author" content="eSports.cz, s.r.o. - www.esportsmedia.cz"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="robots" content="index,follow"/>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="./img/favicons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicons/favicon-16x16.png"/>
    <link rel="shortcut icon" href="./img/favicons/favicon.ico">
    <link rel="manifest" href="./img/favicons/site.webmanifest"/>

    {# TODO - Facebook / Open Graph #}
    <meta property="og:title" content="{{ pageTitle }}"/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content="./img/og_image.jpg"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:image:alt" content=""/>
    <meta property="og:locale" content="cs_CZ"/>

    {# TODO - Twitter #}
    <meta name="twitter:title" content="{{ pageTitle }}"/>
    <meta name="twitter:site" content=""/>
    <meta name="twitter:description" content=""/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:image" content="./img/og_image.jpg"/>

    
  </head>
  <body class="Page {{ bodyClass }}">
    <div class="PageContainer">
      {% include "./partials/_brandingTop.njk" %}
      {% include "./partials/_header.njk" %}
      <main class="Main">
        {% block main %}{% endblock %}
      </main>

      <div class="u-px-20 u-pb-32 u-display-none u-xs-display-block">
        {% include "../templates/partials/_bannerB1.njk" %}
      </div>

      {% include "./partials/_footer.njk" %}
      {% include "./partials/_brandingSide.njk" %}
    </div>
    {% block modals %}{% endblock %}
    {% block alerts %}{% endblock %}
    {% include "./partials/_svgs.njk" %}
    
  </body>
</html>
