<!-- Article box -->
<article class="ArticleBox">
    <div class="ArticleBox-imgContainer">
        <picture>
            <!-- 1152 x 768 -->
            <source media="(max-width: 800px)" srcset="./img/placeholder-1152x768.jpg"/>
            <!-- 616 x 392, 924 x 588, 1232 x 784 -->
            <source srcset="./img/placeholder-616x392.jpg 1x, ./img/placeholder-924x588.jpg 1.5x, ./img/placeholder-1232x784.jpg 2x"/>
            <!-- 616 x 392 -->
            <img class="ArticleBox-img" src="./img/placeholder-616x392.jpg" width="604" height="411" alt="" loading="lazy"/>
        </picture>
        <div class="TagList">
            <div class="Tag Tag--green Tag--subtle">10.4.</div>
            <div class="Tag Tag--red">Češi v akci</div>
        </div>
    </div>
    <div class="u-mt-12">
        <h3 class="ArticleBox-title">
            <a class="ArticleBox-title Link--stretched" href="#todo">Poslední zápas i výzva kalendářního roku. Češi vyzvou Turecko</a>
        </h3>
    </div>
</article>
