<!-- Article box - small -->
<article class="ArticleBoxSmall">
  <picture class="ArticleBoxSmall-imgContainer">
    <source media="(max-width: 576px)" srcset="./img/placeholder-article-thumb-small-mobile.jpg"/>
    <source srcset="./img/placeholder-article-thumb.jpg 1x, ./img/placeholder-article-thumb@1.5x.jpg 1.5x, ./img/placeholder-article-thumb@2x.jpg 2x"/>
    <img class="ArticleBoxSmall-img" src="./img/placeholder-article-thumb.jpg" width="136" height="136" alt="" loading="lazy"/>
  </picture>
  <div class="ArticleBoxSmall-textContainer">
    <div class="ArticleBoxSmall-info">
      <time class="Date" datetime="2022-11-23">23. 11. 2022</time>
      <a href="#todo" class="Tag Tag--text Tag--red">Zpravodajství</a>
      <a href="#todo" class="Tag Tag--text Tag--pink">WTA</a>
    </div>

    <h3 class="ArticleBoxSmall-title">
      <a class="Link--stretched Link--inverted" href="#todo">Reprezentace letos odehraje přípravné zápasy v Černé Hoře a Maďarsku</a>
    </h3>
  </div>
</article>
