<!-- Banner B3 - 760 x 100 -->
<div class="Banner u-mt-32 u-mb-32 u-xs-display-none">
  <a href="#todo">
    <img src="./img/placeholder-banner-B3-760x100@2x.jpg" width="760" height="100" loading="lazy"/>
  </a>
</div>
