<!-- Branding top banner / Leaderboard -->
<div class="Branding Branding--top">
    <a href="https://www.tenisdetem.cz/" target="_blank" rel="noopener">
        <img src="./img/placeholder-banner-top.jpg" width="1320" height="200">
    </a>
</div>
