<!-- Branding left banner -->
<div class="Branding Branding--left">
    <a href="https://www.tenisdetem.cz/" target="_blank" rel="noopener">
        <img src="./img/placeholder-banner-left.jpg" width="340" height="2826">
    </a>
</div>
<!-- Branding right banner -->
<div class="Branding Branding--right">
    <a href="https://www.tenisdetem.cz/" target="_blank" rel="noopener">
        <img src="./img/placeholder-banner-right.jpg" width="340" height="2826">
    </a>
</div>
