<!-- Socials -->
<ul class="Socials" aria-label="Odkazy na sociální sítě">
    <li class="Socials-item">
        <a class="Socials-link" href="https://www.facebook.com/Tenis-845744408841464" target="_blank" rel="noopener noreferrer" aria-label="Facebook - Tenisový svět" title="Facebook - Tenisový svět">
            {{ icon("circleFacebook", "Socials-icon", 32, 32) }}
            Facebook
        </a>
    </li>
    <li class="Socials-item">
        <a class="Socials-link" href="https://twitter.com/tenisovysvetcz" target="_blank" rel="noopener noreferrer" aria-label="Instagram - Tenisový svět" title="Instagram - Tenisový svět">
            {{ icon("circleTwitter", "Socials-icon", 32, 32) }}
            Twitter
        </a>
    </li>
    <li class="Socials-item">
        <a class="Socials-link" href="https://www.youtube.com/channel/UCo4HL4At2J4r6V3svpvs5-Q" target="_blank" rel="noopener noreferrer" aria-label="Instagram - Tenisový svět" title="Instagram - Tenisový svět">
            {{ icon("circleYoutube", "Socials-icon", 32, 32) }}
            YouTube
        </a>
    </li>
    <li class="Socials-item">
        <a class="Socials-link" href="https://www.instagram.com/tenisovysvetcz/" target="_blank" rel="noopener noreferrer" aria-label="Instagram - Tenisový svět" title="Instagram - Tenisový svět">
            {{ icon("circleInstagram", "Socials-icon", 32, 32) }}
            Instagram
        </a>
    </li>
</ul>
