<!-- Hot news -->
<ul class="Accordion js-accordion" data-stay-open="true">
  {{ accordionItem(
        "Hot news collapsible item Title",
        "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
        "Před 5 min",
        false,
        1
    ) }}

  {{ accordionItem(
      "Hot news collapsible item Title",
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.",
      "Před 12 hod",
      false,
      2
    ) }}

  {{ accordionItem(
      "Jebavý s Pavláskem v Marrákeší postupuji",
      "Úspěšný vstup to turnaje ATP v marocké Marrákeši mají za sebou deblisté Roman Jebavý s Adamem Pavláskem. V úvodním kole si poradili s Brity Danem Evansem a Jonnym O'Marou, které porazili za pouhých 54 minut po setech 6:3, 6:2. Češi v utkání neztratili ani jedno podání, naopak na returnu se prosadili hned třikrát.",
      "Včera",
      true,
      3
    ) }}

  {{ accordionItem(
      "Hot news collapsible item Title",
      "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
      "Včera",
      false,
      4
    ) }}

  {{ accordionItem(
      "Hot news collapsible item Title",
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.",
      "Včera",
      false,
      5
    ) }}
</ul>

<a href="#todo" class="Button Button--primary Button--full Button--xs-full u-mt-16">Načíst další</a>
