<!-- Aktuální turnaje -->
<section id="sidebar-tournaments">
	<h2 class="H2">Aktuální turnaje</h2>
	<ul>
		<li class="TournamentItem">
			<div class="TagList">
				<span class="Tag Tag--text Tag--pink">WTA Charlston</span>
				<span class="Tag Tag--text Tag--gray">Tvrdý povrch venku</span>
			</div>
			<div class="TournamentItem-content">
				<h3 class="TournamentItem-heading">
					<a href="#todo" class="Link--stretched">Credit One Charleston Open 2023</a>
				</h3>
				<div class="TournamentItem-price">$ 780 637</div>
			</div>
		</li>

		<li class="TournamentItem">
			<div class="TagList">
				<span class="Tag Tag--text Tag--pink">WTA Bogota</span>
				<span class="Tag Tag--text Tag--orange">Antuka</span>
			</div>
			<div class="TournamentItem-content">
				<h3 class="TournamentItem-heading">
					<a href="#todo" class="Link--stretched">Credit One Charleston Open 2023</a>
				</h3>
				<div class="TournamentItem-price">$ 259 303</div>
			</div>
		</li>

		<li class="TournamentItem">
			<div class="TagList">
				<span class="Tag Tag--text Tag--blue">ATP Houston</span>
				<span class="Tag Tag--text Tag--orange">Antuka</span>
			</div>
			<div class="TournamentItem-content">
				<h3 class="TournamentItem-heading">
					<a href="#todo" class="Link--stretched">U.S. Men’s Clay Court Championship 2023</a>
				</h3>
				<div class="TournamentItem-price">$ 718 245</div>
			</div>
		</li>

		<li class="TournamentItem">
			<div class="TagList">
				<span class="Tag Tag--text Tag--blue">ATP Estoril</span>
				<span class="Tag Tag--text Tag--orange">Antuka</span>
			</div>
			<div class="TournamentItem-content">
				<h3 class="TournamentItem-heading">
					<a href="#todo" class="Link--stretched">Millennium Estoril Open 2023</a>
				</h3>
				<div class="TournamentItem-price">$ 613 705</div>
			</div>
		</li>
	</ul>
</section>
