<!-- Banner - sidebar - 280 x 280 -->
<div class="Banner" id="sidebar-banner">
    <a href="#todo">
        <img src="./img/placeholder-banner-sidebar-280x280@2x.jpg" width="280" height="280" alt="" loading="lazy"/>
    </a>
</div>
