// Sizes
$logoWidth: 189;

$page-width: 1312;
$page-spacingMobile: 20;
$page-spacing: 28;

// Colors
$colorPrimary: #21280b;
$colorSecondary: #a5c938;
$colorTertiary: var(--color-green-soft);

$colorBlack: #000000;
$colorBlue: #23a7f1;
$colorBrown: #604433;
$colorGreen: #20c997;
$colorGrey: #a4a4a4;
$colorGrey--dark: #444444;
$colorGrey--light: #e0e0e0;
$colorGrey--70: #444444;
$colorGrey--80: #444444;
$colorGrey--90: #444444;
$colorGold: #daa520;
$colorOrange: #f89334;
$colorRed: #a71018;
$colorTurquoise: #40e0d0;
$colorYellow: #ffcc00;
$colorWhite: #ffffff;

$colorOverlay: rgba($colorBlack, 0.85);

$colorText: var(--color-text);
$colorHeading: var(--color-text);
$colorPlaceholder: var(--color-text-light);

$colorBorderPrimary: var(--color-border);
$colorBorderSecondary: var(--color-border);

// Font families
$fontFamilyPrimary: 'General Sans', Arial, 'Helvetica Neue', Helvetica,
  sans-serif;
$fontFamilySecondary: $fontFamilyPrimary;

// Font sizes
$fontSizeZero: 0;
$fontSizeTiny: 0.625rem;
$fontSizeExtraSmall: 0.75rem; // 12
$fontSizeSmall: 0.875rem; // 14
$fontSizeNormal: 1rem; // 16
$fontSizeBig: 1.125rem;
$fontSizeExtraBig: 1.25rem; // 20
$fontSizeHuge: 1.5rem;

// Font weights
$fontWeightThin: 100;
$fontWeightExtraLight: 200;
$fontWeightLight: 300;
$fontWeightNormal: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightExtraBold: 800;
$fontWeightHeavy: 900;

// Borders
$borderPrimary: 1px solid $colorBorderPrimary;
$borderRadiusPrimary: 0.25rem; // 4
$borderRadiusSecondary: 0.5rem; // 8
$borderRadiusBig: 1.5rem; // 24

// Forms
$formInputBorder: 1px solid var(--color-form-input-border-color);
$formInputRadius: $borderRadiusPrimary;

// Gradients
$gradientPrimary: linear-gradient(
  180deg,
  rgba(81, 108, 240, 1) 0%,
  rgba(81, 108, 240, 0.77) 100%
);
$gradientSecondary: linear-gradient(
  90deg,
  $colorSecondary 0%,
  $colorTertiary 100%
);
$gradientTertiary: linear-gradient(
  90deg,
  $colorTertiary 0%,
  $colorSecondary 100%
);

// Easing

// Cubic
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);

// Circ
$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);

// Expo
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);

// Quad
$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

// Quart
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);

// Quint
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);

// Sine
$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

// Back
$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
