{% extends "../templates/layout-sidebar.njk" %}
{% from "../templates/macros/breadcrumbs.njk" import breadcrumbs %}
{% set pageTitle = 'Stream událostí | Tenisový svět' %}
{% set bodyClass = 'Page--stream' %}
{% from "../templates/macros/icon.njk" import icon %}
{% block mainContent %}
  <article class="Article">
    <div class="Container Container--slim">
      <header class="PageImageHeader">
        {{ breadcrumbs(['Tenisovýsvět.cz', 'Stream událostí']) }}
        <h1 class="H1">Stream událostí</h1>
        <div class="OnlineHeader u-mt-24 u-mb-32">
            <div class="OnlineHeader-dateSelector OnlineHeader-dateSelector--scrolling">
              <a href="#todo" class="IconButton IconButton--48">
                {{ icon('arrow-right', 'u-flip-horizontal', 32, 32) }}
              </a>
              <a href="#todo" class="OnlineHeader-date">Po<br>10.07.</a>
              <a href="#todo" class="OnlineHeader-date">Út<br>11.07.</a>
              <a href="#todo" class="OnlineHeader-date is-today">Dnes<br>12.07.</a>
              <a href="#todo" class="OnlineHeader-date">Čt<br>13.07.</a>
              <a href="#todo" class="OnlineHeader-date">Pá<br>14.07.</a>

              <a href="#todo" class="IconButton IconButton--48">
                {{ icon('arrow-right', '', 32, 32) }}
              </a>
            </div>
            <form action="#todo" method="get" class="OnlineFilter u-xs-display-block u-xs-width-100p">
              <div class="InputContainer OnlineHeader-dateInput">
                <div class="InputContainer-icon">
                  {{ icon("calendar", "", 32, 32) }}
                </div>
                <input type="text" name="" data-dateinput-type="date" class="TextInput TextInput--withIcon js-datePicker flatpickr-input" id="" placeholder="Zadejte datum" readonly="readonly">
              </div>
            </form>
          </div>
      </header>
 
    </div>
  <div class="Container Container--slim">
      <div class="streamItem">
        <div class="streamItem__date">
          15:57
        </div>
        <div class="streamItem__info">
          <div class="streamItem__title">
            Hraju pod svou úroveň, přiznal otevřeně Djokovič a vynechá nadcházející Masters
          </div>
          <p>
            Na mužském antukovém turnaji <a href="#" target="_blank"> Genova Prague Open by Moneta Money Bank</a> s <strong>dotací 25 tisíc amerických dolarů</strong> bude ve středu pokračovat úvodní kolo dvouhry i čtyřhry. Do akce se v singlu zapojí celkem devět domácích tenistů a v deblu pak dokonce deset.
          </p>
        </div>
      </div>
       <div class="streamItem">
        <div class="streamItem__date">
          15:57
        </div>
        <div class="streamItem__info">
          <div class="streamItem__title">
            Hraju pod svou úroveň, přiznal otevřeně Djokovič a vynechá nadcházející Masters
          </div>
          <p>
            Na mužském antukovém turnaji <a href="#" target="_blank"> Genova Prague Open by Moneta Money Bank</a> s <strong>dotací 25 tisíc amerických dolarů</strong> bude ve středu pokračovat úvodní kolo dvouhry i čtyřhry. Do akce se v singlu zapojí celkem devět domácích tenistů a v deblu pak dokonce deset.
          </p>
        </div>
      </div>
       <div class="streamItem">
        <div class="streamItem__date">
          15:57
        </div>
        <div class="streamItem__info">
          <div class="streamItem__title">
            Hraju pod svou úroveň, přiznal otevřeně Djokovič a vynechá nadcházející Masters
          </div>
          <p>
            Na mužském antukovém turnaji <a href="#" target="_blank"> Genova Prague Open by Moneta Money Bank</a> s <strong>dotací 25 tisíc amerických dolarů</strong> bude ve středu pokračovat úvodní kolo dvouhry i čtyřhry. Do akce se v singlu zapojí celkem devět domácích tenistů a v deblu pak dokonce deset.
          </p>
        </div>
      </div>
       <div class="streamItem">
        <div class="streamItem__date">
          15:57
        </div>
        <div class="streamItem__info">
          <div class="streamItem__title">
            Hraju pod svou úroveň, přiznal otevřeně Djokovič a vynechá nadcházející Masters
          </div>
          <p>
            Na mužském antukovém turnaji <a href="#" target="_blank"> Genova Prague Open by Moneta Money Bank</a> s <strong>dotací 25 tisíc amerických dolarů</strong> bude ve středu pokračovat úvodní kolo dvouhry i čtyřhry. Do akce se v singlu zapojí celkem devět domácích tenistů a v deblu pak dokonce deset.
          </p>
        </div>
      </div>
        
    
    </div>
    <!-- Banner B2 / article - 936 x 280 -->
    <div class="Banner u-mt-24 u-mb-32">
      <a href="#todo">
        <img src="./img/placeholder-banner-article.jpg" width="936" height="280" loading="lazy"/>
      </a>
    </div>

    <div class="Container Container--slim">
      <div class="streamItem">
        <div class="streamItem__date">
          15:57
        </div>
        <div class="streamItem__info">
          <div class="streamItem__title">
            Hraju pod svou úroveň, přiznal otevřeně Djokovič a vynechá nadcházející Masters
          </div>
          <p>
            Na mužském antukovém turnaji <a href="#" target="_blank"> Genova Prague Open by Moneta Money Bank</a> s <strong>dotací 25 tisíc amerických dolarů</strong> bude ve středu pokračovat úvodní kolo dvouhry i čtyřhry. Do akce se v singlu zapojí celkem devět domácích tenistů a v deblu pak dokonce deset.
          </p>
        </div>
      </div>
       <div class="streamItem">
        <div class="streamItem__date">
          15:57
        </div>
        <div class="streamItem__info">
          <div class="streamItem__title">
            Hraju pod svou úroveň, přiznal otevřeně Djokovič a vynechá nadcházející Masters
          </div>
          <p>
            Na mužském antukovém turnaji <a href="#" target="_blank"> Genova Prague Open by Moneta Money Bank</a> s <strong>dotací 25 tisíc amerických dolarů</strong> bude ve středu pokračovat úvodní kolo dvouhry i čtyřhry. Do akce se v singlu zapojí celkem devět domácích tenistů a v deblu pak dokonce deset.
          </p>
        </div>
      </div>
       <div class="streamItem">
        <div class="streamItem__date">
          15:57
        </div>
        <div class="streamItem__info">
          <div class="streamItem__title">
            Hraju pod svou úroveň, přiznal otevřeně Djokovič a vynechá nadcházející Masters
          </div>
          <p>
            Na mužském antukovém turnaji <a href="#" target="_blank"> Genova Prague Open by Moneta Money Bank</a> s <strong>dotací 25 tisíc amerických dolarů</strong> bude ve středu pokračovat úvodní kolo dvouhry i čtyřhry. Do akce se v singlu zapojí celkem devět domácích tenistů a v deblu pak dokonce deset.
          </p>
        </div>
      </div>
       <div class="streamItem">
        <div class="streamItem__date">
          15:57
        </div>
        <div class="streamItem__info">
          <div class="streamItem__title">
            Hraju pod svou úroveň, přiznal otevřeně Djokovič a vynechá nadcházející Masters
          </div>
          <p>
            Na mužském antukovém turnaji <a href="#" target="_blank"> Genova Prague Open by Moneta Money Bank</a> s <strong>dotací 25 tisíc amerických dolarů</strong> bude ve středu pokračovat úvodní kolo dvouhry i čtyřhry. Do akce se v singlu zapojí celkem devět domácích tenistů a v deblu pak dokonce deset.
          </p>
        </div>
      </div>
        
    </div>
<div class="streamBottom">
    <div class="OnlineHeader-dateSelector OnlineHeader-dateSelector--scrolling">
          <a href="#todo" class="IconButton IconButton--48">
                {{ icon('arrow-right', 'u-flip-horizontal', 32, 32) }}
              </a>    
              <a href="#todo" class="OnlineHeader-date">Po<br>10.07.</a>
              <a href="#todo" class="OnlineHeader-date">Út<br>11.07.</a>
              <a href="#todo" class="OnlineHeader-date is-today">Dnes<br>12.07.</a>
              <a href="#todo" class="OnlineHeader-date">Čt<br>13.07.</a>
              <a href="#todo" class="OnlineHeader-date">Pá<br>14.07.</a>
              <a href="#todo" class="IconButton IconButton--48">
                {{ icon('arrow-right', '', 32, 32) }}
              </a>
            </div>
</div>
  </article>
{% endblock %}

{% block mainSidebar %}
  {% include "../templates/partials/sidebar/_cesiNaTurnajich.njk" %}
  {% include "../templates/partials/sidebar/_zebricky.njk" %}


{% endblock %}
