.Article {
  @include respondFrom(md) {
    margin-top: rem(32);
  }

  &-header {
    .Date {
      margin-top: rem(24);
    }
  }

  &-perex {
    @include text($colorText, $fontSizeExtraBig, inherit, 1.6);
    margin-top: rem(20);

    p {
      @include text($colorText, $fontSizeExtraBig, inherit, 1.6);

      @include respondTo(xs) {
        font-size: 1.125rem;
        line-height: 1.75;
      }
    }
  }

  &-img {
    border-radius: $borderRadiusSecondary;
    margin-top: rem(20);
    margin-bottom: rem(24);
    @include imgResponsive();
  }

  p a {
    color: #84a12d;

    &:hover {
      text-decoration: none;
    }
  }

  &-body {
    margin-top: rem(32);
    max-width: rem(696);

    h1:not(.Article-widget h1):not(.Box h1),
    h2:not(.Article-widget h2):not(.Box h2),
    h3:not(.Article-widget h3):not(.Box h3),
    h4:not(.Article-widget h4):not(.Box h4),
    h5:not(.Article-widget h5):not(.Box h5),
    h6:not(.Article-widget h6):not(.Box h6) {
      margin-top: 2.5rem;
      clear: both;

      @include respondTo(sm) {
        margin-top: 1.5rem;
      }
    }

    h1:not(.Article-widget h1):not(.Box h1) {
      @extend .H1;
    }

    h2:not(.Article-widget h2):not(.Box h2) {
      @extend .H2;
    }

    h3:not(.Article-widget h3):not(.Box h3) {
      @extend .H3;
    }

    h4:not(.Article-widget h4):not(.Box h4) {
      @extend .H4;
    }

    h5:not(.Article-widget h5):not(.Box h5) {
      @extend .H4;
    }

    h6:not(.Article-widget h6):not(.Box h6) {
      @extend .H4;
    }

    p:empty {
      display: none;
    }

    p {
      margin-bottom: rem(32);

      @include respondTo(xs) {
        font-size: 1.125rem;
        line-height: 1.75;
        margin-bottom: rem(20);
      }
    }

    blockquote {
      max-width: rem(456);
      @include text($colorText, $fontSizeNormal, $fontWeightNormal, 1.75);
      font-style: italic;
      padding: 0 0 rem(12) rem(24);
      margin: rem(20) 0;
      border-left: 8px solid #a5c938;

      @include respondFrom(md) {
        margin: rem(32) 0 rem(32) rem(32);
      }
    }

    hr {
      @extend .Separator;
      border: none;
    }

    .EmbedContainer {
      margin-left: auto;
      margin-right: auto;
      margin-top: 2.5rem !important;
      margin-bottom: 0 !important;
      overflow: hidden;
      clear: both;

      @include respondTo(sm) {
        margin-top: 1.5rem !important;
      }

      @include respondTo(xs) {
        margin-top: 1.25rem !important;
      }

      iframe {
        width: 100%;
      }
    }

    .twitter-tweet {
      display: none;
    }

    .YouTubeContainer {
      max-width: 100%;
      height: 0;
      position: relative;
      padding-bottom: 56.25%;
      margin-top: 2.5rem;
      overflow: hidden;
      clear: both;

      @include respondTo(sm) {
        margin-top: 1.5rem;
      }

      iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &-info {
    font-weight: $fontWeightMedium;
  }

  &-rightFloated {
    float: right;
    margin-left: rem(24);
    margin-bottom: rem(24);

    @include respondTo(xs) {
      float: none;
      margin-left: 0;
      margin-bottom: 0;
    }

    .EmbedContainer {
      margin-top: 0 !important;
      margin-bottom: 0 !important;

      .twitter-tweet {
        margin-top: 0px !important;
      }
    }
  }

  .Banner {
    a {
      border-radius: 0;

      img {
        border-radius: 0;
      }
    }
  }
}
