.ArticleArchiveHeader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: rem(16);
  margin-bottom: rem(32);

  @include respondFrom(md) {
    flex-direction: row;
    column-gap: rem(16);
    align-items: center;
    justify-content: space-between;
  }

  &-form {
    display: flex;
    gap: rem(12);
    flex-wrap: wrap;

    @include respondTo(xs) {
      gap: 1rem;
    }
  }
  &-query,
  &-category {
    @include respondTo(sm) {
      flex: 1;
      min-width: 200px;
    }
  }
  &-query {
    @include respondFrom(md) {
      width: rem(335);
    }
  }
  &-category {
    @include respondFrom(md) {
      width: rem(232);
    }
  }
}
