.Article {
  @include respondFrom(md) {
    margin-top: rem(32);
  }
  iframe {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  &-header {
    .Date {
      margin-top: rem(24);
    }
  }

  &-perex {
    @include text($colorText, $fontSizeExtraBig, inherit, 1.6);
    margin-top: rem(20);

    p {
      @include text($colorText, $fontSizeExtraBig, inherit, 1.6);

      @include respondTo(xs) {
        font-size: 1.125rem;
        line-height: 1.75;
      }
    }
  }

  &-img {
    border-radius: $borderRadiusSecondary;
    margin-top: rem(20);
    margin-bottom: rem(24);
    @include imgResponsive();
  }

  p a {
    color: #84a12d;

    &:hover {
      text-decoration: none;
    }
  }

  &-body {
    margin-top: rem(32);
    max-width: rem(696);

    h1:not(.Article-widget h1):not(.Box h1),
    h2:not(.Article-widget h2):not(.Box h2),
    h3:not(.Article-widget h3):not(.Box h3),
    h4:not(.Article-widget h4):not(.Box h4),
    h5:not(.Article-widget h5):not(.Box h5),
    h6:not(.Article-widget h6):not(.Box h6) {
      margin-top: 2.5rem;
      clear: both;

      @include respondTo(sm) {
        margin-top: 1.5rem;
      }
    }

    h1:not(.Article-widget h1):not(.Box h1) {
      @extend .H1;
    }

    h2:not(.Article-widget h2):not(.Box h2) {
      @extend .H2;
    }

    h3:not(.Article-widget h3):not(.Box h3) {
      @extend .H3;
    }

    h4:not(.Article-widget h4):not(.Box h4) {
      @extend .H4;
    }

    h5:not(.Article-widget h5):not(.Box h5) {
      @extend .H4;
    }

    h6:not(.Article-widget h6):not(.Box h6) {
      @extend .H4;
    }

    p:empty {
      display: none;
    }

    p {
      margin-bottom: rem(32);

      @include respondTo(xs) {
        font-size: 1.125rem;
        line-height: 1.75;
        margin-bottom: rem(20);
      }
    }

    blockquote {
      max-width: rem(456);
      @include text($colorText, $fontSizeNormal, $fontWeightNormal, 1.75);
      font-style: italic;
      padding: 0 0 rem(12) rem(24);
      margin: rem(20) 0;
      border-left: 8px solid #a5c938;

      @include respondFrom(md) {
        margin: rem(32) 0 rem(32) rem(32);
      }
    }

    hr {
      @extend .Separator;
      border: none;
    }

    .EmbedContainer {
      margin-left: auto;
      margin-right: auto;
      margin-top: 2.5rem !important;
      margin-bottom: 0 !important;
      overflow: hidden;
      clear: both;

      @include respondTo(sm) {
        margin-top: 1.5rem !important;
      }

      @include respondTo(xs) {
        margin-top: 1.25rem !important;
        margin-bottom: 1.25rem;
      }

      iframe {
        @include respondTo(sm) {
          aspect-ratio: 320/520;
          width: 100% !important;
          margin-bottom: 0 !important;
        }
      }
    }

    .twitter-tweet,
    .instagram-media {
      display: none;
      margin-bottom: 0 !important;
      min-width: auto !important;
    }
    .YouTubeContainer iframe {
      @include respondTo(sm) {
        height: -webkit-fill-available !important;
      }
    }
    .twitter-tweet iframe {
      @include respondTo(sm) {
        aspect-ratio: 1/1.9 !important;
      }
    }
    .YouTubeContainer {
      max-width: 100%;
      height: 0;
      position: relative;
      padding-bottom: 56.25%;
      margin-top: 2.5rem;
      overflow: hidden;
      clear: both;

      @include respondTo(sm) {
        margin-top: 1.5rem;
      }

      iframe {
        width: 100%;

        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &-info {
    font-weight: $fontWeightMedium;
  }

  &-rightFloated {
    float: right;
    margin-left: rem(24);
    margin-bottom: rem(24);

    @include respondTo(xs) {
      float: none;
      margin-left: 0;
      margin-bottom: 0;
    }

    .EmbedContainer {
      margin-top: 0 !important;
      margin-bottom: 0 !important;

      .twitter-tweet {
        margin-top: 0px !important;
      }
    }
  }

  .Banner {
    a {
      border-radius: 0;

      img {
        border-radius: 0;
      }
    }
  }
}
.Article-body .YouTubeContainer iframe {
  height: 100%;
}
.Article-body .EmbedContainer {
  margin-bottom: 1.5rem !important;
}

.Article-body .YouTubeContainer {
  margin-bottom: 0 !important;
}

.Article-body .YouTubeContainer {
  margin-bottom: 0 !important;
}
.Banner .adsbygoogle {
  margin-left: auto !important;
  margin-right: auto !important;
}
@media (max-width: 410px) {
  .Banner .adsbygoogle {
    margin-right: -18.75px !important;
    margin-left: -18.75px !important;
  }
}

.galleryArticle {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  #lg-download {
    display: none !important;
  }
  &__item {
    max-width: 33.333%;
    flex: 0 0 33.333%;
    padding: 0 10px;
    margin-bottom: 20px;
    @include respondTo(sm) {
      max-width: 50%;
      flex: 0 0 50%;
    }
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      background: rgba(#02602d, 0.8);
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.3s;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      background-image: url('../img/icons/camera.svg');
      background-size: 80px;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
    }
    &:hover {
      &::before,
      &::after {
        opacity: 1;
      }
    }
    img {
      transition: all 0.3s;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.lg-sub-html {
  p {
    color: #fff;
  }
}
.lg-sub-html {
  ul {
    display: flex;
    font-size: 14px;
    justify-content: center;
    gap: 12px;
  }
}

.galleryArticle__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}
