.Banner {
  text-align: center;
  display: flex;
  justify-content: center;
  &--desktop {
    display: none;

    @include respondFrom(sm) {
      display: block;
    }
  }

  &--mobile {
    display: block;

    @include respondFrom(sm) {
      display: none;
    }
  }

  a {
    display: block;
    border-radius: $borderRadiusSecondary;
    overflow: hidden;
  }

  img {
    @include imgResponsive();
    border-radius: $borderRadiusSecondary;
    margin: auto;
  }
}

.Article {
  .BannerHp {
    display: flex;
    justify-content: center;
    @include respondTo(xs) {
      display: none;
    }
  }
  .BannerMob {
    display: none;
    @include respondTo(xs) {
      display: flex;
      justify-content: center;
    }
    .adsbygoogle {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .adsbygoogle > div {
      width: 100% !important;
    }
    .adsbygoogle iframe {
      width: 100% !important;
    }
  }
}
.adsbygoogle {
  margin: 0 auto;
}
.dsbygoogle-noablate {
  display: none !important;
}
.YouTubeContainer,
.embed-responsive,
.Article-body .EmbedContainer {
  margin-bottom: 1.5rem !important;
  @include respondFrom(sm) {
    margin-top: 1.5rem !important;
  }
}

.Article-body .EmbedContainer iframe {
  @media (max-width: 410px) {
    width: 100%;
    height: auto;
    aspect-ratio: 320/530;
  }
}

.Banner .adsbygoogle {
  display: none;
  margin-right: -18.75px;
  overflow: hidden;
}
