@use 'sass:math';

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $fontFamilyPrimary;
  background-color: #02602d;
  @include text(#fff, rem(14), $fontWeightSemiBold, math.div(20, 14));
  text-align: center;
  text-decoration: none;
  border-radius: $borderRadiusPrimary;
  min-height: rem(40);
  padding-left: rem(16);
  padding-right: rem(16);
  transition:
    background-color 0.25s ease,
    transform 0.25s ease-in-out,
    box-shadow 0.25s ease;
  white-space: nowrap;

  &:not([disabled]):not(&--disabled) {
    cursor: pointer;
  }

  &--small {
    font-size: rem(12);
    line-height: math.div(20, 12);
    min-height: rem(32);
  }

  &--full {
    width: 100%;
  }

  &--xs-full {
    @include respondTo(xs) {
      width: 100%;
    }
  }

  &:active {
    transform: scale(0.96);
  }

  &--primary {
    background-color: #02602d;
    color: #fff;

    &:focus,
    &:hover {
      background-color: darken(#02602d, 5%);
    }

    &:focus-visible {
      box-shadow: 0 0 0 4px rgba(#02602d, 32%);
    }
  }

  &--secondary {
    background-color: #f2f4f5;
    color: #21280b;

    &:focus,
    &:hover {
      background-color: darken(#f2f4f5, 5%);
      color: #21280b;
    }

    &:focus-visible {
      box-shadow: 0 0 0 4px rgba(#f2f4f5, 32%);
    }
  }

  &--tertiary {
    background-color: $colorTertiary;
    color: var(--green-180);

    @include inDarkMode {
      color: var(--green-5);
    }

    &:hover {
      @media (hover: hover) {
        background-color: darken(#edf4d7, 16%);

        @include inDarkMode {
          background-color: var(--green-160);
        }
      }
    }
  }

  &--facebook {
    color: #3c5997;
  }

  &--twitter {
    color: #54acee;
  }

  &--min-235 {
    min-width: rem(235);
  }

  &--min-168 {
    min-width: rem(168);
  }

  &--disabled,
  &[disabled] {
    opacity: 0.2;
    pointer-events: none;
  }
}
