.MenuButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: rem(4);
  background-color: #A5C938;
  height: rem(32);
  padding-left: rem(12);
  padding-right: rem(8);
  @include text(#21280B, rem(12), $fontWeightSemiBold, math.div(20, 12));
  border-radius: $borderRadiusPrimary;

  &.is-active &-openIcon {
    display: none;
  }

  &:not(.is-active) &-closeIcon {
    display: none;
  }
}