.Separator {
  display: block;
  width: 100%;
  height: rem(1px);
  background-color: $colorBorderPrimary;
  border: 0;

  &--small {
    margin-top: rem(12);
    margin-bottom: rem(12);
  }

  &--medium {
    margin-top: rem(16);
    margin-bottom: rem(16);
  }

  &--large {
    margin-top: rem(56);
    margin-bottom: rem(32);

    @include respondTo(sm) {
      margin-top: rem(24);
      margin-bottom: rem(24);
    }
  }
}
