.Tabs {
  // &-nav {
  //   overflow-x: auto;

  //   ul {
  //     display: flex;
  //     gap: 1.5rem;
  //   }
  // }

  // &-button {
  //   font-family: $fontFamilySecondary;
  //   @include text($colorGrey--100, $fontSizeSmall, $fontWeightSemiBold, 1.571);
  //   text-transform: uppercase;
  //   text-decoration: none;
  //   white-space: nowrap;
  //   background-color: transparent;
  //   border-bottom: 2px solid transparent;
  //   transition:
  //     color 0.25s ease,
  //     border-color 0.25s ease;

  //   &:focus {
  //     outline: none;
  //   }

  //   &:focus,
  //   &:hover,
  //   &:active,
  //   &.is-active {
  //     color: $colorText;
  //     border-color: $colorPrimary;
  //   }
  // }

  // &-contentContainer {
  //   background-color: transparent;
  //   border: 2px solid $colorWhite;
  //   padding: 2rem;

  //   @include respondTo(xs) {
  //     padding: 1rem;
  //   }
  // }

  &-panel {
    display: none;

    &.is-active {
      display: block;
      animation-name: showTabPanel;
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
    }
  }
}

@keyframes showTabPanel {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
